<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Add Vehicle Type</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
			<div th:replace="fragments/general.html :: sidebar"></div>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
                <h2>Update Vehicle Type</h2>
 				<br>
               	<div class="alert alert-info" th:if="${message}">
              	 <span th:text="${message}"></span>
              	</div>
                    <form action="#" th:action="@{/edit-vehicletypes/{id}(id=${vehicleTypes.id})}" th:object="${vehicleTypes}" method="post">
						<hr>
						<div class="form-group">
							<br>
	                        <label for="type">Vehicle Type: </label>
	                        <input type="text" th:field="*{type}" id="type" placeholder="Vehicle Type" size=19 required>
	              
							<br>
	                        <label for="subType">Sub Type: </label>
	                        <input type="text" th:field="*{subType}" id="subType"  size=19 placeholder="Sub Type">
	                 
	                     	<br>
	                        <label for="description">Description: </label>
	                        <input type="text" th:field="*{description}" id="description" size=19  placeholder="Description">
	                    
	                     	<br>
	                        <label for="make">Make: </label>
	                        <input type="text" th:field="*{make}" id="make" size=19 placeholder="Make" required>
	                   
	                     	<br>
	                        <label for="model">Model: </label>
	                        <input type="text" th:field="*{model}" id="model" size=19 placeholder="Model" required>

							<br>
	                        <label for="minimumWeight">Min. Weight: </label>
	                        <input type="text" th:field="*{minimumWeight}" id="minimumWeight" size=19 placeholder="Minimum Weight" required>
	                       
	                     	<br>
	                        <label for="maximumWeight">Max. Weight: </label>
	                        <input type="text" th:field="*{maximumWeight}" id="maximumWeight" size=19 placeholder="Maximum Weight" required>
	                     
	                     	<br>
	                        <label for="capacity">Capacity: </label>
	                        <input type="text" th:field="*{capacity}" id="capacity" size=19 placeholder="Capacity">
	                       
	                    	<br>
	                        <label for="maximumRange">Max. Range: </label>
	                        <input type="text" th:field="*{maximumRange}" id="maximumRange" size=19 placeholder="Maximum Range" required>
	                       
	                     	<br>
	                        <label for="restrictions">Restrictions: </label>
	                        <input type="text" th:field="*{restrictions}" id="restrictions" size=19 placeholder="Restrictions">
	                        
	                    	<br>
	                        <label for="height">Height: </label>
	                        <input type="text" th:field="*{height}" id="height" placeholder="Height" size=19 required>
	                        
	                     	<br>
	                        <label for="emptyWeight">Empty Weight: </label>
	                        <input type="text" th:field="*{emptyWeight}" id="emptyWeight" placeholder="Empty Weight" size=19 required>
	                        
	                     	<br>
	                        <label for="length">Length: </label>
	                        <input type="text" th:field="*{length}" id="length" placeholder="Length" size=19 required>
	                        
	                    	<br>
	                        <label for="minimumCubicWeight">Min. Cubic Weight: </label>
	                        <input type="text" th:field="*{minimumCubicWeight}" id="minimumCubicWeight" size=19 placeholder="Minimum Cubic Weight">
	                        
	                     	<br>
	                        <label for="maximumCubicWeight">Max. Cubic Weight: </label>
	                        <input type="text" th:field="*{maximumCubicWeight}" id="maximumCubicWeight" size=19 placeholder="Height">
	                        
	                        <br>  
	                        <br>
	                        <button class="buttons4" type="button" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button>
							<button class="buttons4" type="submit">Update Type</button>
							<br><br>
	                    </div>   
                   </form>
			</div>
		</div>

		<div class="footer">
        </div>
		<script src="../javascript/pageload.js">
		</script>
	</body>
</html>