<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Add Bid</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
        	<div th:replace="fragments/general.html :: sidebar"></div>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
                <h2>Add Bid</h2>
                <br><br>
                <span type="hidden" th:text="${error}" class="loginError"></span>
                <form action="#" th:action="@{/addbid}" th:object="${bids}" method="post">
                <hr>
                <div class="form-group">
	                <br>
	                <h2>Enter Bid Info</h2>
	                <br>
	                <label for="shipments">Shipment: </label>
	                <select th:field="*{shipment}" required>
	                    <th:block th:each="shipment : ${shipments}">
	                        <option th:text="|${shipment.client} ${shipment.shipDate}|" th:value="${shipment.id}"></option>
	                    </th:block>
	                </select>
	             	<br>
	                <label for="price">Price: </label>
	                <input type="text" th:field="*{price}" id="price" placeholder="Price" required oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
	                <br>
	                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
	                <br>
	                <br>
	                 <p><button type="button" class="buttons7" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button>
					<button class="buttons6" type="submit">Add Bid</button>
	                <br><br>
                </div>
                </form>
			</div>
		</div>

		<div class="footer">
        </div>
		<script src="../javascript/pageload.js">
		</script>
	</body>
</html>