table {
  border-collapse: collapse;
  border: 1px solid green;
  border-radius: 10px;
  table-layout: auto;
  width: 180px;
}

table td {
  word-wrap: break-word;
  max-width: 100%;
  border: 1px solid black;
  padding: 2px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table td:first-child {
  font-weight: bold;
  width: 1%;
  white-space: nowrap;
}

table td:not(:first-child) {
  width: 1%;
  white-space: nowrap;
}
