<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Shipments</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1>Enterprise Routing System &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            <div sec:authorize="isAuthenticated()" class = "navSideBar"  id="mySidebar">
                <button onclick="nav_close()" class="bar-item">...</button>
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="navlink" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_users" href="/users">Users</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAuthority('MASTERLIST')" class="navitem">
                           <a class="navlink" id="nav_shipments_home_masterlist" href="/shipmentshomemaster">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('SHIPPER')" class="navitem">
                            <a class="selected" id="nav_shipments_home_shipper" href="/shipmentshomeshipper">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="selected" id="nav_shipments_home_carrier" href="/shipmentshomecarrier">Shipments</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_routes" href="/routes">Routes</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_database" href="/database">Database</a>
                        </li>
						<br><br><br><br><br>
						<li sec:authorize="hasAnyAuthority('CARRIER', 'MASTERLIST', 'ADMIN','SHIPPER')">
                            <a class= "navlink" id= "nav_notifications" href="/unreadnotifications" th:inline="text">Alerts ([[${notifications.size()}]])</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER', 'MASTERLIST', 'ADMIN','SHIPPER')">
							<a class= "navlink" id= "nav_update_user_details" href="/update-user-details">Update User</a>
						</li>
                        <li sec:authorize="isAuthenticated()" class="navitem">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="navlink" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" class = "navSideBar"  id="mySidebar">
                <button onclick="nav_close()" class="bar-item">...</button>
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="selected" id="nav_home" href="/">Home</a>
                        </li>
                        <br>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_login" href="login">Login</a>
                        </li>
                        <br>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_registration" href="/registrationhome">Register</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="sub_heading">
                <div id="loginDiv">
                    <div sec:authorize="isAuthenticated()" style="float: right;">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                        Hello <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" style="float: right;">
                        <a id="loginLink" class="ui-button" href="/login">Login</a>
                    </div>
                </div>
            </div>
			
			<div id="content">
				<span class="nav-expand">
  					<button class="expander"  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
				<p sec:authorize="hasAuthority('MASTERLIST')"><button class="buttons6" onclick="window.location.href='/shipmentshomemaster';">Back</button></p>
                <p sec:authorize="hasAuthority('CARRIER')"><button class="buttons6" onclick="window.location.href='/shipmentshomecarrier';">Back</button></p>
                <p sec:authorize="hasAuthority('SHIPPER')"><button class="buttons6" onclick="window.location.href='/shipmentshomeshipper';">Back</button></p>
                <br>
				<br><br>
                <div class="alert alert-info" th:if="${message}">
       		    <span th:text="${message}"></span>
       	        </div>
				<div th:if="${status != 'CARRIER'}">
				<div th:switch="${shipmentsPending.size()}">
                    <h2 th:case="0">No Pending Shipments Yet!</h2>
                    <div th:case="*">
                        <h2>Pending Shipments</h2>
                        <br>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Client</th>
                                    <th>Client Mode</th>
                                    <th>Ship Date</th>
                                    <th>Full Freight Terms</th>
                                    <th>Commodity Class</th>
                                    <th>Commodity Pieces</th>
                                    <th>Commodity Paid Weight</th>
                                    <th>Shipper City</th>
                                    <th>Shipper State</th>
                                    <th>Shipper Zip</th>
                                    <th>Consignee City</th>
                                    <th>Consignee State</th>
                                    <th>Consignee Zip</th>
                                    <th sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')">Edit</th>
                                    <th sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')">Delete</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Freeze</th>
                                    <th sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')">Push to Auction</th>
                                    <th sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')">Direct Assign</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="shipment : ${shipmentsPending}">
                                    <td th:text="${shipment.id}"></td>
                                    <td th:text="${shipment.client}"></td>
                                    <td th:text="${shipment.clientMode}"></td>
                                    <td th:text="${shipment.shipDate}"></td>
                                    <td th:text="${shipment.fullFreightTerms}"></td>
                                    <td th:text="${shipment.commodityClass}"></td>
                                    <td th:text="${shipment.commodityPieces}"></td>
                                    <td th:text="${shipment.commodityPaidWeight}"></td>
                                    <td th:text="${shipment.shipperCity}"></td>
                                    <td th:text="${shipment.shipperState}"></td>
                                    <td th:text="${shipment.shipperZip}"></td>
                                    <td th:text="${shipment.consigneeCity}"></td>
                                    <td th:text="${shipment.consigneeState}"></td>
                                    <td th:text="${shipment.consigneeZip}"></td>
                                    <td sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')"><a th:href="@{/editshipment/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')"><a th:href="@{/deleteshipment/{id}(id=${shipment.id})}"><button class="fa fa-times" style="color: red;" onclick="deleteFunction()"></button></a></td> 
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/freezeshipment/{id}(id=${shipment.id})}">Freeze</a></td>
                                    <td sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')"><a th:classappend="${user.auctioningAllowed ? '' : 'disabled-btn'}" th:href="@{/pushshipment/{id}(id=${shipment.id})}">Push to Auction</a></td>
                                    <td sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')"><a th:href="@{/directassignshipment/{id}(id=${shipment.id})}">Direct Assign</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <p sec:authorize="hasAuthority('SHIPPER')"><button class="buttons7" onclick="window.location.href='/uploadshipments';">Upload From Excel</button><button class="buttons7" onclick="window.location.href='/add-shipments';">Add New Shipment</button></p>
                </div>
                </div>
                <br><br>
				<div th:switch="${shipmentsAvailable.size()}">
                    <h2 th:case="0">No Available Shipments Yet!</h2>
                    <div th:case="*">
                        <h2>Available Shipments</h2>
                        <br>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Shipment ID</th>
                                    <th>Client</th>
                                    <th>Client Mode</th>
                                    <th>Ship Date</th>
                                    <th>Full Freight Terms</th>
                                    <th>Commodity Class</th>
                                    <th>Commodity Pieces</th>
                                    <th>Commodity Paid Weight</th>
                                    <th>Shipper City</th>
                                    <th>Shipper State</th>
                                    <th>Shipper Zip</th>
                                    <th>Consignee City</th>
                                    <th>Consignee State</th>
                                    <th>Consignee Zip</th>
                                    <th>View Bids</th>
                                    <th>Winning Bid</th>
                                  
                                    <th sec:authorize="hasAuthority('CARRIER')">Add Bid</th>
                                    <th sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')">Edit</th>
                                    <th sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')">Delete</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Freeze</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Reset Bids</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Force End Auction</th>
                                   <!--  <th sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')">Remove From Auction</th> -->
								</tr>
                            </thead>
                            <tbody>
                                <tr th:each="shipment : ${shipmentsAvailable}">
                                    <td th:text="${shipment.id}"></td>
                                    <td th:text="${shipment.client}"></td>
                                    <td th:text="${shipment.clientMode}"></td>
                                    <td th:text="${shipment.shipDate}"></td>
                                    <td th:text="${shipment.fullFreightTerms}"></td>
                                    <td th:text="${shipment.commodityClass}"></td>
                                    <td th:text="${shipment.commodityPieces}"></td>
                                    <td th:text="${shipment.commodityPaidWeight}"></td>
                                    <td th:text="${shipment.shipperCity}"></td>
                                    <td th:text="${shipment.shipperState}"></td>
                                    <td th:text="${shipment.shipperZip}"></td>
                                    <td th:text="${shipment.consigneeCity}"></td>
                                    <td th:text="${shipment.consigneeState}"></td>
                                    <td th:text="${shipment.consigneeZip}"></td>
                                    <td><a th:href="@{/viewshipmentbids/{id}(id=${shipment.id})}" th:inline="text"><button class="buttons11" role="button">([[${shipment.getBids().size()}]])</button></a></td>
                                    <td><p th:inline="text">[[${shipment.getLowestBidValue()}]]</p></td>
                                    <td sec:authorize="hasAuthority('CARRIER')"><a th:classappend="${user.auctioningAllowed ? '' : 'disabled-btn'}" th:href="@{/add-bid/{id}(id=${shipment.id})}">Add Bid</a></td>
                                    <td sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')"><a th:href="@{/editshipment/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')"><a th:href="@{/deleteshipment/{id}(id=${shipment.id})}"><button class="fa fa-times" style="color: red;" onclick="deleteFunction()"></button></a></td> 
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/freezeshipment/{id}(id=${shipment.id})}">Freeze</a></td>
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/resetshipmentbids/{id}(id=${shipment.id})}">Reset Bids</a></td>
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/forceendauction/{id}(id=${shipment.id})}">Force End Auction</a></td>
                           			<!-- <td sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')"><a th:href="@{/removefromauction/{id}(id=${shipment.id})}"><button th:onclick="confirmAction(${shipment.id})">Remove from Auction</button> </a></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
                 <br><br>
                <div th:if="${status != 'CARRIER'}">
				<div th:switch="${shipmentsFrozen.size()}">
                    <h2 th:case="0">No Frozen Shipments Yet!</h2>
                    <div th:case="*">
                        <h2>Frozen Shipments</h2>
                        <br>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Shipment ID</th>
                                    <th>Client</th>
                                    <th>Client Mode</th>
                                    <th>Ship Date</th>
                                    <th>Full Freight Terms</th>
                                    <th>Commodity Class</th>
                                    <th>Commodity Pieces</th>
                                    <th>Commodity Paid Weight</th>
                                    <th>Shipper City</th>
                                    <th>Shipper State</th>
                                    <th>Shipper Zip</th>
                                    <th>Consignee City</th>
                                    <th>Consignee State</th>
                                    <th>Consignee Zip</th>
                                    <th>View Bids</th>
                                    <th>Winning Bid</th>
                                    
                                    <th sec:authorize="hasAnyAuthority('MASTERLIST')">Edit</th>
                                    <th sec:authorize="hasAnyAuthority('MASTERLIST')">Delete</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Unfreeze</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Reset Bids</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Force End Auction</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="shipment : ${shipmentsFrozen}">
                                    <td th:text="${shipment.id}"></td>
                                    <td th:text="${shipment.client}"></td>
                                    <td th:text="${shipment.clientMode}"></td>
                                    <td th:text="${shipment.shipDate}"></td>
                                    <td th:text="${shipment.fullFreightTerms}"></td>
                                    <td th:text="${shipment.commodityClass}"></td>
                                    <td th:text="${shipment.commodityPieces}"></td>
                                    <td th:text="${shipment.commodityPaidWeight}"></td>
                                    <td th:text="${shipment.shipperCity}"></td>
                                    <td th:text="${shipment.shipperState}"></td>
                                    <td th:text="${shipment.shipperZip}"></td>
                                    <td th:text="${shipment.consigneeCity}"></td>
                                    <td th:text="${shipment.consigneeState}"></td>
                                    <td th:text="${shipment.consigneeZip}"></td>
                                    <td><a th:href="@{/viewshipmentbids/{id}(id=${shipment.id})}" th:inline="text"><button class="buttons11" role="button">([[${shipment.getBids().size()}]])</button></a></td>
                                    <td><p th:inline="text">[[${shipment.getLowestBidValue()}]]</p></td>
                                    <td sec:authorize="hasAnyAuthority('MASTERLIST')"><a th:href="@{/editshipment/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td sec:authorize="hasAnyAuthority('MASTERLIST')"><a th:href="@{/deleteshipment/{id}(id=${shipment.id})}"><button class="fa fa-times" style="color: red;" onclick="deleteFunction()"></button></a></td>    
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/unfreezeshipment/{id}(id=${shipment.id})}">Unfreeze</a></td>
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/resetshipmentbids/{id}(id=${shipment.id})}">Reset Bids</a></td>
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/forceendauction/{id}(id=${shipment.id})}">Force End Auction</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                    <br><br>
                    <br><br>
				<div th:switch="${shipmentsAwaiting.size()}">
                    <h2 th:case="0">No Awaiting Shipments Yet!</h2>
                    <div th:case="*">
                        <h2>Shipments Awaiting Acceptance</h2>
                        <br>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <div class="longDTableWrapper">
	                        <table class="dataTable">
	                            <thead>
	                                <tr>
	                                    <th>View All Details</th>
	                                    <th>Shipment ID</th>
	                                    <th>Client</th>
	                                    <th>Carrier Name</th>
	                                    <th>Vehicle</th>
	                                    <th>Client Mode</th>
	                                    <th>Ship Date</th>
	                                    <th>Freightbill Number</th>
	                                    <th>Paid Amount</th>
	                                    <th>Full Freight Terms</th>
	                                    <th>Commodity Class</th>
	                                    <th>Commodity Pieces</th>
	                                    <th>Commodity Paid Weight</th>
	                                    <th>Shipper City</th>
	                                    <th>Shipper State</th>
	                                    <th>Shipper Zip</th>
	                                    <th>Consignee City</th>
	                                    <th>Consignee State</th>
	                                    <th>Consignee Zip</th>
	                                    <th sec:authorize="hasAuthority('MASTERLIST')">Edit</th>
                                    	<th sec:authorize="hasAuthority('MASTERLIST')">Delete</th>
                                    	<th sec:authorize="hasAuthority('CARRIER')">Accept</th>
                                    	<th sec:authorize="hasAuthority('CARRIER')">Deny</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr th:each="shipment : ${shipmentsAwaiting}">
	                                    <td><a th:href="@{/viewshipment/{id}(id=${shipment.id})}"><button class="buttons11" role="button">View All Details</button></a></td>
	                                    <td th:text="${shipment.id}"></td>
	                                    <td th:text="${shipment.client}"></td>
	                                    <td><a th:text="${shipment.carrier.carrierName}"></a></td>
	                                    <td th:text="${shipment.vehicle}"></td>
	                                    <td th:text="${shipment.clientMode}"></td>
	                                    <td th:text="${shipment.shipDate}"></td>
	                                    <td th:text="${shipment.freightbillNumber}"></td>
	                                    <td th:text="${shipment.paidAmount}"></td>
	                                    <td th:text="${shipment.fullFreightTerms}"></td>
	                                    <td th:text="${shipment.commodityClass}"></td>
	                                    <td th:text="${shipment.commodityPieces}"></td>
	                                    <td th:text="${shipment.commodityPaidWeight}"></td>
	                                    <td th:text="${shipment.shipperCity}"></td>
	                                    <td th:text="${shipment.shipperState}"></td>
	                                    <td th:text="${shipment.shipperZip}"></td>
	                                    <td th:text="${shipment.consigneeCity}"></td>
	                                    <td th:text="${shipment.consigneeState}"></td>
	                                    <td th:text="${shipment.consigneeZip}"></td>
                                        <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/editshipment/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                        <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/deleteshipment/{id}(id=${shipment.id})}"><button class="fa fa-times" style="color: red;"></button></a></td> 
                                        <td sec:authorize="hasAuthority('CARRIER')"><a th:href="@{/acceptawaitingshipment/{id}(id=${shipment.id})}">Accept</a></td>
                                        <td sec:authorize="hasAuthority('CARRIER')"><a th:href="@{/denyawaitingshipment/{id}(id=${shipment.id})}">Deny</a></td>                               
	                                </tr>
	                            </tbody>
	                        </table>
                        </div>
                    </div>
                </div>
                    <br><br>
                    <br><br>
                <div th:switch="${shipmentsAccepted.size()}">
                    <h2 th:case="0">No Accepted Shipments Yet!</h2>
                    <div th:case="*">
                        <h2>Accepted Shipments</h2>
                        <br>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <div class="longDTableWrapper">
	                        <table class="dataTable">
	                            <thead>
	                                <tr>
	                                    <th>Shipment ID</th>
	                                    <th>Client</th>
	                                    <th>Carrier Name</th>
	                                    <th>Client Mode</th>
	                                    <th>Ship Date</th>
	                                    <th>Freightbill Number</th>
	                                    <th>Paid Amount</th>
	                                    <th>Shipper City</th>
	                                    <th>Shipper State</th>
	                                    <th>Shipper Zip</th>
	                                    <th>Consignee City</th>
	                                    <th>Consignee State</th>
	                                    <th>Consignee Zip</th>
	                                    <th>View All Details</th>
	                                    <th>View Bids</th>
	                                    <th>Winning Bid</th>
	                                    <th sec:authorize="hasAuthority('MASTERLIST')">Edit</th>
                                    	<th sec:authorize="hasAuthority('MASTERLIST')">Delete</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr th:each="shipment : ${shipmentsAccepted}">
	                                    <td th:text="${shipment.id}"></td>
	                                    <td th:text="${shipment.client}"></td>
	                                    <td><a th:text="${shipment.carrier.carrierName}"></a></td>
	                                    <td th:text="${shipment.clientMode}"></td>
	                                    <td th:text="${shipment.shipDate}"></td>
	                                    <td th:text="${shipment.freightbillNumber}"></td>
	                                    <td th:text="${shipment.paidAmount}"></td>
	                                    <td th:text="${shipment.shipperCity}"></td>
	                                    <td th:text="${shipment.shipperState}"></td>
	                                    <td th:text="${shipment.shipperZip}"></td>
	                                    <td th:text="${shipment.consigneeCity}"></td>
	                                    <td th:text="${shipment.consigneeState}"></td>
	                                    <td th:text="${shipment.consigneeZip}"></td>
	                                    <td><a th:href="@{/viewshipment/{id}(id=${shipment.id})}"><button class="buttons11" role="button">View All Details</button></a></td>
	                                    <td><a th:href="@{/viewshipmentbids/{id}(id=${shipment.id})}"><button class="buttons11" role="button">([[${shipment.getBids().size()}]])</button></a></td>
	                                    <td><p th:inline="text">[[${shipment.getLowestBidValue()}]]</p></td>
                                        <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/editshipment/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                        <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/deleteshipment/{id}(id=${shipment.id})}"><button class="fa fa-times" style="color: red;" onclick="deleteFunction()"></button></a></td>                                
	                                </tr>
	                            </tbody>
	                        </table>
                        </div>
                    </div>
            </div>
        </div>
        </div>
		<div class="footer">
        </div>
		<script>
		function nav_open() {
			document.getElementById("content").style.marginLeft = "15%";
			document.getElementById("mySidebar").style.width = "15%";			
			document.getElementById("mySidebar").style.display = "block";
			document.getElementById("hamburger").style.display = "none";
		}
		
		function nav_close() {
		  document.getElementById("content").style.marginLeft = "0%";
		  document.getElementById("mySidebar").style.display = "none";
		  document.getElementById("hamburger").style.display = "block";
		}
		</script>
	</body>
</html>   