<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Add Maintenance Order</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br>
            </div>
            
           <div th:replace="fragments/general.html :: sidebar"></div>
           <div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
                <h2>Assign Vehicle to Shipment</h2>
                <form action="#" th:action="@{/assignvehicletransaction/{shipmentId}(shipmentId=${shipment.id})}" method="post">
        <hr>
        <div class="form-group">
        <br>
            <select name="vehicle" class="form-control" required>
                <th:block th:each="vehicle : ${vehicles}">
                    <option th:text="${vehicle}" th:value="${vehicle.id}"></option>
                </th:block>
            </select>
            <input type="hidden" th:name="shipmentId" th:value="${shipment.id}"/>
            <button class="buttons6" type="submit" >Assign Vehicle</button>
            <br>
            <button class="buttons6" type="button"  th:onclick="getBestVehicle()">Select Best Vehicle (Based on Distance)</button>
            <br><br>
        </div>
    </form>
            </div>
		</div>

		<div class="footer">
        </div>
		<script src="../javascript/pageload.js">
		</script>
		<script>
		function getBestVehicle(){
			let bestId;
			var shipmentId = document.querySelector('[name="shipmentId"]').getAttribute('value');

			// Make an AJAX request to the API
			$.ajax({
			    type: "GET",
			    url: "http://localhost:8080/getbestvehicle/" + shipmentId, 
			    success: function(response) {
		            // Get the select element and options
		            var select = document.getElementsByName("vehicle")[0];
		            var options = select.options;

		            // Loop through the options and select the one with the matching ID
		            for (var i = 0; i < options.length; i++) {
		                if (options[i].value == response) {
		                    select.selectedIndex = i;
		                    break;
		                }
		            }
		        },
			    error: function(xhr, status, error) {
			        console.error(error);
			    }
			});
			
			return bestId;
		}
		</script>
	</body>
</html>