<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Awaiting Shipments</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            <div th:replace="fragments/general.html :: sidebar"></div>
			
			<div id="content">
				<span class="nav-expand">
  					<button class="expander"  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<div class="alert alert-info" th:if="${message}">
       		    <span th:text="${message}"></span>
       	         </div>
				<div th:switch="${shipments}">
                	<br><br>
                    <div th:case="*">
                    <br>
                        <h2>Shipments Awaiting Acceptance</h2>
                        <br>
                        <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <div class="longDTableWrapper">
	                        <table class="dataTable">
	                            <thead>
	                                <tr>
	                                    <th>View Details</th>
	                                    <th>Shipment ID</th>
	                                    <th>Client</th>
	                                    <th>Carrier Name</th>
	                                    <th>Client Mode</th>
	                                    <th>Ship Date</th>
	                                    <th>Paid Amount</th>
	                                    <th>Full Freight Terms</th>
	                                    <th>Commodity Class</th>
	                                    <th>Commodity Pieces</th>
	                                    <th>Commodity Paid Weight</th>
	                                    <th>Shipper City</th>
	                                    <th>Shipper State</th>
	                                    <th>Shipper Zip</th>
	                                    <th>Consignee City</th>
	                                    <th>Consignee State</th>
	                                    <th>Consignee Zip</th>
                                    	<th sec:authorize="hasAuthority('CARRIER')">Accept</th>
                                    	<th sec:authorize="hasAuthority('CARRIER')">Deny</th>
                                 	    <th sec:authorize="hasAuthority('MASTERLIST')">Edit</th>
                                    	<th sec:authorize="hasAuthority('MASTERLIST')">Delete</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr th:each="shipment : ${shipments}">
	                                    <td><a th:href="@{/viewshipment/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class='fas fa-clipboard-list'></i></button></a></td>
	                                    <td th:text="${shipment.id}"></td>
	                                    <td th:text="${shipment.client}"></td>
	                                    <td><a th:text="${shipment.carrier.carrierName}"></a></td>
	                                    <td th:text="${shipment.clientMode}"></td>
	                                    <td th:text="${shipment.shipDate}"></td>
	                                    <td th:text="${shipment.paidAmount}"></td>
	                                    <td th:text="${shipment.fullFreightTerms}"></td>
	                                    <td th:text="${shipment.commodityClass}"></td>
	                                    <td th:text="${shipment.commodityPieces}"></td>
	                                    <td th:text="${shipment.commodityPaidWeight}"></td>
	                                    <td th:text="${shipment.shipperCity}"></td>
	                                    <td th:text="${shipment.shipperState}"></td>
	                                    <td th:text="${shipment.shipperZip}"></td>
	                                    <td th:text="${shipment.consigneeCity}"></td>
	                                    <td th:text="${shipment.consigneeState}"></td>
	                                    <td th:text="${shipment.consigneeZip}"></td>
                                        <td sec:authorize="hasAuthority('CARRIER')"><a th:href="@{/acceptawaitingshipment/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class="far fa-check-circle" style="color: green;"></i></button></a></td>   
                                        <td sec:authorize="hasAuthority('CARRIER')"><a th:href="@{/denyawaitingshipment/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class="far fa-times-circle" style="color: red;"></i></button></a></td>
                                        <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/editshipment/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                        <td sec:authorize="hasAuthority('MASTERLIST')"><a href="#" th:data-object-type="${shipment.client}" th:data-object-id="${shipment.id}"  th:attr="onclick=${'deleteObjectConfirm(this,''/deleteshipmentconfirmation/'')'}"><button class="fa fa-times" style="color: red;"></button></a></td>                              
	                                </tr>
	                            </tbody>
	                        </table>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
		<script src="javascript/deleteObject.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>   