<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Carriers</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
   			<div th:replace="fragments/general.html :: sidebar"></div>
   			<div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class="expander"  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
				<div th:if="${redirectLocation != '/carriers'}">
				<p><button class="buttons7" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button></p>
				</div>
				<div th:switch="${carriers}">
                    <h2 th:case="null">No carriers yet!</h2>
                    <div th:case="*">
                        <h2>Carriers</h2>
						<br>
                        <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Carrier ID</th>
                                    <th>Carrier Name</th>
                                    <th>SCAC</th>
                                    <th>LTL</th>
                                    <th>FTL</th>
                                    <th>Pallets</th>
                                    <th>Weight</th>
                                    <th sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')">View Shipments</th>
                                    <th sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')">View Bids</th>
                                    <th sec:authorize="hasAnyAuthority('CARRIER')">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="carrier : ${carriers}">
                                    <td th:text="${carrier.id}"></td>
                                    <td th:text="${carrier.carrierName}"></td>
                                    <td th:text="${carrier.scac}"></td>
                                    <td th:text="${carrier.ltl}"></td>
                                    <td th:text="${carrier.ftl}"></td>
                                    <td th:text="${carrier.pallets}"></td>
                                    <td th:text="${carrier.weight}"></td>                                    
                                    <td sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')"><a th:href="@{/viewcarriershipments/{id}(id=${carrier.id})}"><button style='font-size:11px'><i class='fas fa-truck'></i></button></a></td>
                                    <td sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')"><a th:href="@{/viewcarrierbids/{id}(id=${carrier.id})}"><button style='font-size:11px'><i class='fas fa-money-bill-wave' style="color: #118C4F;"></i></button></a></td>
                                	<td sec:authorize="hasAnyAuthority('CARRIER')"><a th:href="@{/editcarrier/{id}(id=${carrier.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Commented out button to add carrier for now. Currently carriers are made when signing up. 
                    <p sec:authorize="hasAuthority('MASTERLIST')"><a href="/add-carriers">Add a Carrier</a></p>-->
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
        <script src="javascript/pageload.js">
		</script>
		<script src="../javascript/pageload.js">
		</script>
	</body>
</html>   