<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Contacts</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />	
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            
           <div th:replace="fragments/general.html :: sidebar"></div>
           <div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<div th:if="${redirectLocation != '/contacts'}">
				<p><button class="buttons6" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button></p>
				</div>
				<br><br>
				<div th:switch="${contacts}">
                    <h2 th:case="null">No contacts yet!</h2>
                    <div th:case="*">
                    <span type="hidden" th:text="${successMessage}" class="successMessage"></span>
    				<br>
                        <h2>Contacts</h2>
                        <br>
                         <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Contact ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Middle Initial</th>
                                    <th>Email</th>
                                    <th>Street Address 1</th>
                                    <th>Street Address 2</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip Code</th>
                                    <th>Primary Phone</th>
                                    <th>Work Phone</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="contact : ${contacts}">
                                    <td th:text="${contact.id}"style="word-wrap: break-word;"></td>
                                    <td th:text="${contact.firstName}"></td>
                                    <td th:text="${contact.lastName}"></td>
                                    <td th:text="${contact.middleInitial}"></td>
                                    <td th:text="${contact.emailAddress}"></td>
                                    <td th:text="${contact.streetAddress1}"></td>
                                    <td th:text="${contact.streetAddress2}"></td>
                                    <td th:text="${contact.city}"></td>
                                    <td th:text="${contact.state}"></td>
                                    <td th:text="${contact.zip}"></td>
                                    <td th:text="${contact.primaryPhone}"></td>
                                    <td th:text="${contact.workPhone}"></td>
                                    <td><a th:href="@{/editcontact/{id}(id=${contact.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td><a href="#" th:data-object-type="${contact}" th:data-object-id="${contact.id}" th:data-object-name="delete" th:attr="onclick=${'deleteObjectConfirm(this,''/deletecontactconfirmation/'')'}"><button class="fa fa-times" style="color: red;"></button></a></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>     
                    <br>                     
                    <p><button class="buttons7" onclick="window.location.href='/add-contact';">Add Contact</button>
                    <button class="buttons7" onclick="window.location.href='/excel/upload-contacts';">Import Excel Sheet</button>
                    <button class="buttons7" onclick="window.location.href='/excel-download-contacts';">Export Excel Sheet</button></p>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
		<script src="../javascript/pageload.js">
		</script>
		 <script src="javascript/deleteObject.js"></script>
		 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>