<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Shipments</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />
        
	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            <div th:replace="fragments/general.html :: sidebar"></div>
            <div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class="expander"  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<div class="alert alert-info" th:if="${message}">
       		    <span th:text="${message}"></span>
       	        </div>
				<div th:switch="${shipments}">
               		<br><br>
                    <div th:case="*">
                    <br>
                        <h2>Available Shipments</h2>
                        <br>
                        <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Shipment ID</th>
                                    <th>Client</th>
                                    <th>Client Mode</th>
                                    <th>Ship Date</th>
                                    <th>Commodity Class</th>
                                    <th>Commodity Pieces</th>
                                    <th>Commodity Paid Weight</th>
                                    <th>Shipper City</th>
                                    <th>Shipper State</th>
                                    <th>Consignee City</th>
                                    <th>Consignee State</th>
                                    <th>View Bids</th>
                                    <th>Winning Bid</th>
                                  
                                    <th sec:authorize="hasAuthority('CARRIER')">Add Bid</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Freeze</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Reset Bids</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Force End Auction</th>
                                    <th sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')">Remove From Auction</th>
                                    <th sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')">Edit</th>
                                    <th sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')">Delete</th> 
									
								</tr>
                            </thead>
                            <tbody>
                                <tr th:each="shipment : ${shipments}">
                                    <td th:text="${shipment.id}"></td>
                                    <td th:text="${shipment.client}"></td>
                                    <td th:text="${shipment.clientMode}"></td>
                                    <td th:text="${shipment.shipDate}"></td>
                                    <td th:text="${shipment.commodityClass}"></td>
                                    <td th:text="${shipment.commodityPieces}"></td>
                                    <td th:text="${shipment.commodityPaidWeight}"></td>
                                    <td th:text="${shipment.shipperCity}"></td>
                                    <td th:text="${shipment.shipperState}"></td>
                                    <td th:text="${shipment.consigneeCity}"></td>
                                    <td th:text="${shipment.consigneeState}"></td>
                                    <td><a th:href="@{/viewshipmentbids/{id}(id=${shipment.id})}"><button class="buttons11" role="button">([[${shipment.getBids().size()}]])</button></a></td>
                                    <td><p th:inline="text">[[${shipment.getLowestBidValue()}]]</p></td>
                                    <td sec:authorize="hasAuthority('CARRIER')"><a th:classappend="${user.auctioningAllowed ? '' : 'disabled-btn'}" th:href="@{/add-bid/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class='fas fa-money-bill-wave' style="color: #118C4F;"></i></button></a></td>
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a href="#" th:data-object-type="${shipment}" th:data-object-id="${shipment.id}" th:data-object-name="freeze" th:attr="onclick=${'freezeShipmentConfirm(this,''/freezeshipmentconfirmation/'')'}"><button><i class='far fa-snowflake' style='font-size:11px;color:#2070b9'></i></button></a></td>
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a href="#" th:data-object-type="${shipment}" th:data-object-id="${shipment.id}"  th:data-object-name="reset" th:attr="onclick=${'resetBidConfirm(this,''/resetshipmentbidsconfirmation/'')'}"><button style='font-size:11px'><i class="fa fa-refresh"></i></button></a></td>
									<td sec:authorize="hasAuthority('MASTERLIST')">
	    								<span th:if="${shipment.bids.size() > 0}">
										<a href="#" th:data-object-type="${shipment}" th:data-object-id="${shipment.id}" th:data-object-name="force" 
           								th:attr="onclick=${'endAuctionConfirm(this,''/forceendauctionconfirmation/'')'}">
            							<button class= "fas fa-gavel" style="color:red;"></button></a></span>
        								<span th:if="${shipment.bids.size() == 0}"><button class= "fas fa-gavel" style="color:red; opacity: 0.5" disabled></button></span></td>
                           			<td sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')"><a href="#" th:data-object-id="${shipment.id}" th:data-object-name="remove" th:attr="onclick=${'auctionRemoveConfirm(this,''/removefromauctionconfirmation/'')'}"><span class='fa-stack fa-2x'style='font-size:11px'><i class='fas fa-gavel fa-stack-1x'></i><i class='fas fa-ban fa-stack-2x'style='color:tomato'></i></span></a></td>
                           			<td sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')"><a th:href="@{/editshipment/{id}(id=${shipment.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td sec:authorize="hasAnyAuthority('SHIPPER','MASTERLIST')"><a href="#" th:data-object-type="${shipment.client}" th:data-object-id="${shipment.id}" th:data-object-name="delete" th:attr="onclick=${'deleteObjectConfirm(this,''/deleteshipmentconfirmation/'')'}"><button class="fa fa-times" style="color: red;"></button></a></td> 
                          
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                    <br>
                	
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
		<script src="javascript/deleteObject.js"></script>
		 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>   