<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Drivers</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
    		<div th:replace="fragments/general.html :: sidebar"></div>
    		<div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
    			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<div th:if="${redirectLocation != '/drivers'}">
				<p><button class="buttons6" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button></p>
				</div>
				<br>
				<div th:switch="${drivers}">
                    <h2 th:case="null">No drivers yet!</h2>
                    <div th:case="*">
                    <span th:text="${successMessage}" class="successMessage"></span>
    				<br><br>
                        <h2>Drivers</h2>
                        <br>
                        <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <div class="longDTableWrapper">
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Driver ID</th>
                                    <th>Contact</th>
                                    <th>Vehicle</th>
                                    <th>License Number</th>
                                    <th>License expiration</th>
                                    <th>License class</th>
                                  	<th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="driver : ${drivers}">
                                    <td th:text="${driver.id}"></td>
                                    <td><a th:text="${driver.contact}" th:href="@{/viewcontact/{id}(id=${driver.contact.id})}"></a></td>
                                    <td><a th:text="${driver.vehicle}" th:href="@{/viewvehicle/{id}(id=${driver.vehicle.id})}"></a></td>
                               		<td th:text="${driver.lisence_number}"></td>
                                    <td th:text="${driver.lisence_expiration}"></td>
                                    <td th:text="${driver.lisence_class}"></td>
                                    <td class="compact"><a th:href="@{/editdriver/{id}(id=${driver.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td class="compact"><a href="#" th:data-object-type="${driver}" th:data-object-id="${driver.id}"  th:data-object-name="delete" th:attr="onclick=${'deleteObjectConfirm(this,''/deletedriverconfirmation/'')'}"><button class="fa fa-times" style="color: red;"></button></a></td> 
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <br>
                    <p><button class="buttons7" onclick="window.location.href='/add-driver';">Add Driver</button>
                    <button class="buttons7" onclick="window.location.href='/excel/upload-drivers';">Import Excel Sheet</button>
                    <button class="buttons7" onclick="window.location.href='/excel-download-drivers';">Export Excel Sheet</button></p>
                </div>
            </div>
		
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
		<script src="../javascript/pageload.js">
		</script>
		<script src="javascript/confirmation.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>