<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Enterprise Routing System</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
			
			<div th:replace="fragments/general.html :: sidebar"></div>
			<div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
									
			<div id="content">
				<span class="nav-expand">
  					<button class="expander"  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
                <div id="indexHome">
                    <div sec:authorize="!isAuthenticated()">
                            <h1>Welcome! <br><br> Please sign in or <br>create an account!</h1>
                            <br><br>
                            <button class="buttons8" onclick="window.location.href='login';">Login</button>
                            <br><br>
                            <button class="buttons9" onclick="window.location.href='registrationhome';">Create <br> Account</button>
                            <br><br>
                            
                    </div>
                    <br><br><br><br>
                    <div sec:authorize="isAuthenticated()">
                        <div id="authenticated">
                            <h2><span sec:authentication="name"></span> <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
                            <br>
                            <span type="hidden" th:text="${message}" class="loginMessage"></span>
                            <span type="hidden" th:text="${error}" class="loginError"></span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
		</div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
	</body>
</html>