<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Locations</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
           <div th:replace="fragments/general.html :: sidebar"></div>
           <div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<div th:if="${redirectLocation != '/locations'}">
				<p><button class="buttons6" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button></p>
				</div>
				<br><br>
				<div th:switch="${locations}">
                    <h2 th:case="null">No locations yet!</h2>
                    <div th:case="*">
                    <span th:text="${successMessage}" class="successMessage"></span>
    				<br>
                        <h2>Locations</h2>
                        <br>
                        <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Location ID</th>
                                    <th>Name</th>
                                    <th>Street Address 1</th>
                                    <th>Street Address 2</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip Code</th>
                                    <th>Location Type</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="location : ${locations}">
                                    <td th:text="${location.id}"></td>
                                    <td th:text="${location.name}"></td>
                                    <td th:text="${location.streetAddress1}"></td>
                                    <td th:text="${location.streetAddress2}"></td>
                                    <td th:text="${location.city}"></td>
                                    <td th:text="${location.state}"></td>
                                    <td th:text="${location.zip}"></td>
                                    <td th:text="${location.locationType}"></td>
                                    <td><a th:href="@{/editlocations/{id}(id=${location.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td><a href="#" th:data-object-type="${location}" th:data-object-id="${location.id}" th:data-object-name="delete" th:attr="onclick=${'deleteObjectConfirm(this,''/deletelocationconfirmation/'')'}"><button class="fa fa-times" style="color: red;"></button></a></td> 
            
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>      
                    <p><button class="buttons7" onclick="window.location.href='/add-location';">Add Location</button>
                    <button class="buttons7" onclick="window.location.href='/excel/upload-locations';">Import Excel Sheet</button>
                    <button class="buttons7" onclick="window.location.href='/excel-download-locations';">Export Excel Sheet</button></p>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
		<script src="../javascript/pageload.js">
		</script>
		<script src="javascript/deleteObject.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>