<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Logs</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
        	<div th:replace="fragments/general.html :: sidebar"></div>
			
				<div id="content">
			<span class="nav-expand">
				<button class="" id="hamburger" style="display: none"
					onclick="nav_open()">☰</button>
			</span> <br>
			<br> <span type="hidden" th:text="${message}" class=errorMessage></span>
			
			<br><br>

			<div class="filterContainer">
				<form action="#" th:action="@{/applyFilter}" th:object="${filter}"
					method="post">

					<label class="filterContent" for="startDate">Start Date:</label>
					<input class="filterInput" type="date" th:field="*{startDate}" name="stateDate" id="startDate" placeholder="01/01/1970" size=19>


					<label class="filterContent" for="endDate">End Date:</label> 
					<input class="filterInput" type="date" th:field="*{endDate}" name="endDate" id="endDate" placeholder="01/01/1990" size=19>


					<label class="filterContent" for="level">Level: </label> 
					<select	class="filterInput" name="level" th:field="*{level}" id="level">
						<option value="">-- Select a level --</option>
						<option value="ERROR">ERROR</option>
						<option value="INFO">INFO</option>
					</select> 
					
					
					<label class="filterContent" for="username">User:</label>
					<select class="filterInput" id="username" th:field="*{user}">
						<option value="-1">-- Select a user --</option>
						<option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
					</select> 
					
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

					<button class="filterButton" type="submit">Apply</button>
					<button class="filterButton" type="button" th:attr="onclick=|window.location.href='${redirectLocation}'|">Reset</button>
					<a style="text-decoration:none" class="filterButton" type="button" th:href="@{/downloadLogs}">Export</a>
				</form>
			</div>
			<br>

			<div th:switch="${logs.size()}">
				<h2 th:case="0">No logs!</h2>
				<div th:case="*"
					style="height: 700px; overflow-y: scroll; overflow-x: hidden; width: 80vw;">
					<span type="hidden" th:text="${error}" class="loginError"></span> <br>
					<table class="dataTable" align="center"
						style="table-layout: fixed;">
						<thead>
							<tr>
								<th style="width: 100px">Date</th>
								<th style="width: 100px">Time</th>
								<th style="width: 80px">Level</th>
								<th style="width: 100px">User</th>
								<th>Message</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="log : ${logs}">
								<td th:text="${log.date}"></td>
								<td th:text="${log.time}"></td>
								<td th:text="${log.level}"></td>
								<td th:text="${log.user}"></td>
								<td th:text="${log.msg}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
	</body>
</html>