<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Enterprise Routing System</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
        	<div th:replace="fragments/general.html :: sidebar"></div>
        	
            <section>	
                <div id="content" >
                	<span class="nav-expand">
  						<button class="expander"  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
					</span>
					<br>
                    <h2>Welcome Back! <br> Please Log In Below</h2>
                    <form method="POST" th:action="@{/login}" >
                        <div class="form-group">
                            <span type="hidden" th:text="${message}" class="loginMessage"></span>
                            <span type="hidden" th:text="${error}" class="loginError"></span>
                            <span type="hidden" th:if="${emailMessage != null}" class="emailMessage"/> 
                       		<h4 th:text="${emailMessage}"></h4>
                       		 <span type="hidden" th:if="${enabledMessage != null}" class="emailMessage"/> 
                       		<h4 th:text="${enabledMessage}"></h4>
                            <br>

                            <input name="username" type="text" placeholder="Username"  id="userBox" style="border: #006438" autofocus="true" required>

                            <input name="password" type="password" placeholder="Password" id="passBox" style="border: #006438"/>
                            
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <br><br>
                            <button class="buttons8" type="submit">Sign In</button>
                            <br><br>
                            <button class="buttons8" onclick="window.location.href='registrationhome';">Create <br> Account</button>
                            <br><br>
                            <button class="buttons10" onclick="window.location.href='forgotpassword';">Forgot Password?</button>
                            <br><br>
                   		</div>
                    </form>
                    <form action="/">
                        <div class="form-group2">
                            <br>
                            <button class="buttons2" type="submit">Cancel Login</button>
                            <br>
                        </div>
                    </form>
                </div>
            </section>		
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
	</body>
</html>
