<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Maintenance Orders</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" type="text/css" href="/styles/toogleSwitch.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            <div th:replace="fragments/general.html :: sidebar"></div>
            <div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<div th:if="${redirectLocation != '/maintenanceorders'}">
				<p><button class="buttons6" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button></p>
				</div>
				<br><br>
				<div th:switch="${maintenanceOrder}">
                    <h2 th:case="null">No maintenance orders yet!</h2>
                    <div th:case="*">
    				<span th:text="${successMessage}" class="successMessage"></span>
    				<br><br>
                        <h2>Maintenance Orders</h2>
                        <br>
                        <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Maintenance ID</th>
                                    <th>Technician</th>
                                    <th>Scheduled Date **/**/****</th>
                                    <th>Details</th>
                                    <th>Service Type</th>
                                    <th>Cost</th>
                                    <th>Status</th>
                                    <th>Vehicle</th>
                                    <th>Maintenance Type</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="order : ${maintenanceOrder}">
                                    <td th:text="${order.id}"></td>
                                    <td><a th:text="${order.technician}" th:href="@{/viewtechnician/{id}(id=${order.technician.id})}"></a></td>
                                  	<td th:text="${order.scheduled_date}"></td>
                                  	<td th:text="${order.details}"></td>
                                  	<td th:text="${order.service_type_key}"></td>
                                  	<td th:text="${order.cost}"></td>
                                  	<td th:text="${order.status_key}"></td>
                                  	<td><a th:text="${order.vehicle}" th:href="@{/viewvehicle/{id}(id=${order.vehicle.id})}"></a></td>
                                  	<td th:text="${order.maintenance_type}"></td>
                                    <td><a th:href="@{/editorder/{id}(id=${order.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td><a href="#" th:data-object-type="${order}" th:data-object-id="${order.id}"  th:attr="onclick=${'deleteObjectConfirm(this,''/deleteorderconfirmation/'')'}"><button class="fa fa-times" style="color: red;"></button></a></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <br>
                    <p><button class="buttons7" onclick="window.location.href='/add-maintenance';">Add New Order</button>
                    <button class="buttons7" onclick="window.location.href='/excel/upload-maintenanceorders';">Import Excel Sheet</button>
                    <button class="buttons7" onclick="window.location.href='/excel-download-maintenanceorders';">Export Excel Sheet</button></p>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
		<script src="../javascript/pageload.js">
		</script>
		<script src="javascript/deleteObject.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>