<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Technicians</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            <div th:replace="fragments/general.html :: sidebar"></div>
            <div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<div th:if="${redirectLocation != '/technicians'}">
				<p><button class="buttons6" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button></p>
				</div>
				<br><br>
				<div th:switch="${technicians}">
                    <h2 th:case="null">No technicians yet!</h2>
                    <div th:case="*">
                    <span th:text="${successMessage}" class="successMessage"></span>
    				<br><br>
                        <h2>Technicians</h2>
                        <br>
                        <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Technician ID</th>
                                    <th>Contact</th>
                                    <th>Skill Grade</th>
                                    <th>Current Requests</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="technician : ${technicians}">
                                    <td th:text="${technician.id}"></td>
                                    <td><a th:text="${technician.contact}" th:href="@{/viewcontact/{id}(id=${technician.contact.id})}"></a></td>
                                  	<td th:text="${technician.skill_grade}"></td>
                                  	<td><a th:href="@{/viewmaintenanceorders/{id}(id=${technician.id})}">View Requests</a></td>
                                    <td><a th:href="@{/edittechnician/{id}(id=${technician.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td><a href="#" th:data-object-type="${technician}" th:data-object-id="${technician.id}"  th:attr="onclick=${'deleteObjectConfirm(this,''/deletetechnicianconfirmation/'')'}"><button class="fa fa-times" style="color: red;"></button></a></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <br>
                    <p><button class="buttons7" onclick="window.location.href='/add-technician';">Add Technician</button>
                    <button class="buttons7" onclick="window.location.href='/excel/upload-technicians';">Import Excel Sheet</button>
                    <button class="buttons7" onclick="window.location.href='/excel-download-technicians';">Export Excel Sheet</button></p>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
		<script src="../javascript/pageload.js">
		</script>
		<script src="javascript/deleteObject.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>