<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Vehicle Types</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            <div th:replace="fragments/general.html :: sidebar"></div>
            <div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
				<div th:if="${redirectLocation != '/vehicletypes'}">
				<p><button class="buttons6" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button></p>
				</div>
				<div th:switch="${vehicletypes}">
                    <h2 th:case="null">No vehicle types yet!</h2>
                    <div th:case="*">
                    <span th:text="${successMessage}" class="successMessage"></span>
    				<br>
                        <h2>Vehicle Types</h2>
                        <br>
                        <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <div class="longDTableWrapper">
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Vehicle Type ID</th>
                                    <th>Type</th>
                                    <th>Sub type</th>
                                    <th>Description</th>
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>Minimum Weight</th>
                                    <th>Maixmum Weight</th>
                                    <th>Capacity</th>
                                    <th>Maximum Range</th>
                                    <th>Restrictions</th>
                                    <th>Height</th>
                                    <th>Empty Weight</th>
                                    <th>Length</th>
                                    <th>Minimum Cubic Weight</th>
                                    <th>Maximum Cubic Weight</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="vehicletype : ${vehicletypes}">
                                    <td th:text="${vehicletype.id}"></td>
                                    <td th:text="${vehicletype.type}"></td>
                                    <td th:text="${vehicletype.subType}"></td>
                                    <td th:text="${vehicletype.description}"></td>
                                    <td th:text="${vehicletype.make}"></td>
                                    <td th:text="${vehicletype.model}"></td>
                                    <td th:text="${vehicletype.minimumWeight}"></td>
                                    <td th:text="${vehicletype.maximumWeight}"></td>
                                    <td th:text="${vehicletype.capacity}"></td>
                                    <td th:text="${vehicletype.maximumRange}"></td>
                                    <td th:text="${vehicletype.restrictions}"></td>
                                    <td th:text="${vehicletype.height}"></td>
                                    <td th:text="${vehicletype.emptyWeight}"></td>
                                    <td th:text="${vehicletype.length}"></td>
                                    <td th:text="${vehicletype.minimumCubicWeight}"></td>
                                    <td th:text="${vehicletype.maximumCubicWeight}"></td>
                                    <td class="compact"><a th:href="@{/editvehicletypes/{id}(id=${vehicletype.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                  	<td class="compact"><a href="#" th:data-object-type="${vehicletype}" th:data-object-id="${vehicletype.id}" th:data-object-name="delete" th:attr="onclick=${'deleteObjectConfirm(this,''/deletevehicletypeconfirmation/'')'}"><button class="fa fa-times" style="color: red;"></button></a></td> 
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>      
                    <br>
                    <p><button class="buttons7" onclick="window.location.href='/add-vehicletype';">Add New Type</button>
                    <button class="buttons7" onclick="window.location.href='/excel/upload-vehicletypes';">Import Excel Sheet</button>
                    <button class="buttons7" onclick="window.location.href='/excel-download-vehicletypes';">Export Excel Sheet</button></p>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
		<script src="../javascript/pageload.js">
		</script>
		<script src="javascript/confirmation.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>