<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Vehicles</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1>Enterprise Routing System &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            <div sec:authorize="isAuthenticated()" class = "navSideBar" id="mySidebar">
                <button onclick="nav_close()" class="bar-item">...</button>
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="navlink" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_users" href="/users">Users</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="selected" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAuthority('MASTERLIST')" class="navitem">
                           <a class="navlink" id="nav_shipments_home_masterlist" href="/shipmentshomemaster">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('SHIPPER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_shipper" href="/shipmentshomeshipper">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_carrier" href="/shipmentshomecarrier">Shipments</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_routes" href="/routes">Routes</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_database" href="/database">Database</a>
                        </li>
						<br><br><br><br><br>
						<li sec:authorize="hasAnyAuthority('CARRIER', 'MASTERLIST', 'ADMIN','SHIPPER')">
                            <a class= "navlink" id= "nav_notifications" href="/unreadnotifications" th:inline="text">Alerts ([[${notifications.size()}]])</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER', 'MASTERLIST', 'ADMIN','SHIPPER')">
							<a class= "navlink" id= "nav_update_user_details" href="/update-user-details">Update User</a>
						</li>
                        <li sec:authorize="isAuthenticated()" class="navitem">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="navlink" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" class = "navSideBar" id="mySidebar">
                <button onclick="nav_close()" class="bar-item">...</button>
                <ul class="navbar">
                    <li class="navitem">
                        <a class="selected" id="nav_home" href="/">Home</a>
                    </li>
                    <br>
                    <li sec:authorize="!isAuthenticated()" class="navitem">
                        <a class="navlink" id="nav_login" href="login">Login</a>
                    </li>
                    <br>
                    <li sec:authorize="!isAuthenticated()" class="navitem">
                        <a class="navlink" id="nav_registration" href="/registrationhome">Register</a>
                    </li>
                </ul>
            </div>

            <div id="sub_heading">
                <div id="loginDiv">
                    <div sec:authorize="isAuthenticated()" style="float: right;">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                        Hello <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" style="float: right;">
                        <a id="loginLink" class="ui-button" href="/login">Login</a>
                    </div>
                </div>
            </div>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
				<div th:if="${redirectLocation != '/vehicles'}">
				<p><button class="buttons6" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button></p>
				</div>
				<div th:switch="${vehicles}">
                    <h2 th:case="null">No vehicles yet!</h2>
                    <div th:case="*">
                        <h2>Vehicles</h2>
                        <br>
                        <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Vehicle ID</th>
                                    <th>Plate Number</th>
                                    <th>Vin Number</th>
                                    <th>Manufactured Year</th>
                                    <th>Vehicle Type</th>
                                    <th>Location</th>
                                    <th>Carrier</th>
                                    <th>SCAC</th>
                                    <th>Drivers</th>
                                    <th>View Shipments</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="vehicle : ${vehicles}">
                                    <td th:text="${vehicle.id}"></td>
                                    <td th:text="${vehicle.plateNumber}"></td>
                                    <td th:text="${vehicle.vinNumber}"></td>
                                    <td th:text="${vehicle.manufacturedYear}"></td>
                                    <td><a th:text="${vehicle.vehicleType}" th:href="@{/viewvehicletype/{id}(id=${vehicle.vehicleType.id})}"></a></td>
                                    <td><a th:text="${vehicle.location}" th:href="@{/viewlocation/{id}(id=${vehicle.location.id})}"></a></td>
                                    <td><a th:text="${vehicle.carrier.carrierName}" th:href="@{/viewcarrier/{id}(id=${vehicle.carrier.id})}"></a></td>
                                    <td th:text="${vehicle.carrier.scac}"></td>
                                    <td><a th:href="@{/viewvehicledrivers/{id}(id=${vehicle.id})}">View Drivers</a></td>
                                    <td><a th:href="@{/viewvehicleshipments/{id}(id=${vehicle.id})}">View Shipments</a></td>
                                    <td><a th:href="@{/editvehicles/{id}(id=${vehicle.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td><a th:href="@{/deletevehicles/{id}(id=${vehicle.id})}"><button class="fa fa-times" style="color: red;" onclick="deleteFunction()"></button></a></td>    
                                </tr>
                            </tbody>
                        </table>
                    </div>  
                    <br>    
                    <p><button class="buttons7" onclick="window.location.href='/add-vehicle';">Add New Vehicle</button>
                    <button class="buttons7" onclick="window.location.href='/excel/upload-vehicles';">Upload From Excel</button>
                    <button class="buttons7" onclick="window.location.href='/excel-download-vehicles';">Download From Excel</button></p>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script>
		function nav_open() {
			document.getElementById("content").style.marginLeft = "15%";
			document.getElementById("mySidebar").style.width = "15%";			
			document.getElementById("mySidebar").style.display = "block";
			document.getElementById("hamburger").style.display = "none";
		}
		
		function nav_close() {
		  	document.getElementById("content").style.marginLeft = "0%";
		  	document.getElementById("mySidebar").style.display = "none";
		  	document.getElementById("hamburger").style.display = "block";
		}
		</script>
	</body>
</html>