<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Vehicles</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            <div th:replace="fragments/general.html :: sidebar"></div>
            <div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
				<div th:if="${redirectLocation != '/vehicles'}">
				<p><button class="buttons6" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button></p>
				</div>
				<div th:switch="${vehicles}">
                    <h2 th:case="null">No vehicles yet!</h2>
                    <div th:case="*">
                    <span th:text="${successMessage}" class="successMessage"></span>
    				<br><br>
                        <h2>Vehicles</h2>
                        <br>
                        <hr>
                        <span type="hidden" th:text="${error}" class="loginError"></span>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Vehicle ID</th>
                                    <th>Plate Number</th>
                                    <th>Vin Number</th>
                                    <th>Manufactured Year</th>
                                    <th>Vehicle Type</th>
                                    <th>Location</th>
                                    <th>Carrier</th>
                                    <th>SCAC</th>
                                    <th>Drivers</th>
                                    <th>View Shipments</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="vehicle : ${vehicles}">
                                    <td th:text="${vehicle.id}"></td>
                                    <td th:text="${vehicle.plateNumber}"></td>
                                    <td th:text="${vehicle.vinNumber}"></td>
                                    <td th:text="${vehicle.manufacturedYear}"></td>
                                    <td><a th:text="${vehicle.vehicleType}" th:href="@{/viewvehicletype/{id}(id=${vehicle.vehicleType.id})}"></a></td>
                                    <td><a th:text="${vehicle.location}" th:href="@{/viewlocation/{id}(id=${vehicle.location.id})}"></a></td>
                                    <td><a th:text="${vehicle.carrier.carrierName}" th:href="@{/viewcarrier/{id}(id=${vehicle.carrier.id})}"></a></td>
                                    <td th:text="${vehicle.carrier.scac}"></td>
                                    <td><a th:href="@{/viewvehicledrivers/{id}(id=${vehicle.id})}"><button style='font-size:11px'><i class='far fa-id-badge'></i></button></a></td> 
                                    <td><a th:href="@{/viewvehicleshipments/{id}(id=${vehicle.id})}"><button style='font-size:11px'><i class='fas fa-truck'></i></button></a></td>
                                    <td><a th:href="@{/editvehicles/{id}(id=${vehicle.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                   	<td><a href="#" th:data-object-type="${vehicle}" th:data-object-id="${vehicle.id}"  th:attr="onclick=${'deleteObjectConfirm(this,''/deletevehicleconfirmation/'')'}"><button class="fa fa-times" style="color: red;"></button></a></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>  
                    <br>    
                    <p><button class="buttons7" onclick="window.location.href='/add-vehicle';">Add New Vehicle</button>
                    <button class="buttons7" onclick="window.location.href='/excel/upload-vehicles';">Import Excel Sheet</button>
                    <button class="buttons7" onclick="window.location.href='/excel-download-vehicles';">Export Excel Sheet</button></p>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
		<script src="../javascript/pageload.js">
		</script>
		<script src="javascript/deleteObject.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>