<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Bids</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            <div th:replace="fragments/general.html :: sidebar"></div>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
				<p><button class="buttons7" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button>
				<div th:switch="${bids}">
                    <h2 th:case="null">No bids yet!</h2>
                    <div th:case="*">
                        <h2>Bids</h2>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Bid ID</th>
                                    <th>Shipment ID</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Bidder</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Edit</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="bid : ${bids}">
                                    <td th:text="${bid.id}"></td>
                                    <td><a th:text="|${bid.shipment.id} ${bid.shipment.client}|" th:href="@{/viewshipment/{id}(id=${bid.shipment.id})}"></a></td>
                                    <td th:text="${bid.price}"></td>
                                    <td th:text="${bid.date}"></td>
                                    <td th:text="${bid.time}"></td>
                                    <td><a th:text= "${bid.carrier.carrierName}" th:href="@{/viewcarrier/{id}(id=${bid.carrier.id})}">View Bidder</a></td>
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/editbid/{id}(id=${bid.id})}">Edit</a></td>
                                    <td sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/deletebid/{id}(id=${bid.id})}">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script>
		function nav_open() {
			document.getElementById("content").style.marginLeft = "15%";
			document.getElementById("mySidebar").style.width = "15%";			
			document.getElementById("mySidebar").style.display = "block";
			document.getElementById("hamburger").style.display = "none";
		}
		
		function nav_close() {
		    document.getElementById("content").style.marginLeft = "0%";
		    document.getElementById("mySidebar").style.display = "none";
		    document.getElementById("hamburger").style.display = "block";
		}
		
				/* When the user clicks on the button,
		toggle between hiding and showing the dropdown content */
		function showDropdown() {
		  document.getElementById("shipmentsDropdown").classList.toggle("show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		  if (!event.target.matches('.dropbtn') && !event.target.matches('.dropbtn_selected')) {
		    var dropdowns = document.getElementsByClassName("dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
		</script>
	</body>
</html>   