<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Bids</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            <div th:replace="fragments/general.html :: sidebar"></div>
			<div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
						
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
				<p><button class="buttons7" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button>
				<div th:switch="${bids}">
				<br>
                    <h2 th:case="null">No bids yet!</h2>
                    <div th:case="*">
                        <h2>Bids</h2>
                        <br>
                        <hr>
                        <br>
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Bid ID</th>
                                    <th>Shipment ID</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Bidder</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Edit</th>
                                    <th sec:authorize="hasAuthority('MASTERLIST')">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="bid : ${bids}">
                                    <td th:text="${bid.id}"></td>
                                    <td><a th:text="|${bid.shipment.id} ${bid.shipment.client}|" th:href="@{/viewshipment/{id}(id=${bid.shipment.id})}"></a></td>
                                    <td th:text="${bid.price}"></td>
                                    <td th:text="${bid.date}"></td>
                                    <td th:text="${bid.time}"></td>
                                    <td><a th:text= "${bid.carrier.carrierName}" th:href="@{/viewcarrier/{id}(id=${bid.carrier.id})}">View Bidder</a></td>
                                    <td class="compact" sec:authorize="hasAuthority('MASTERLIST')"><a th:href="@{/editbids/{id}(id=${bid.id})}"><button style='font-size:11px'><i class='far fa-edit'></i></button></a></td>
                                    <td class="compact" sec:authorize="hasAnyAuthority('MASTERLIST')"><a href="#" th:data-object-type="${bid.id}" th:data-object-id="${bid.id}" th:data-object-name="delete"  th:attr="onclick=${'deleteObjectConfirm(this,''/deletebidconfirmation/'')'}"><button class="fa fa-times" style="color: red;"></button></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script src="javascript/pageload.js">
		</script>
		<script src="../javascript/pageload.js">
		</script>
		<script src="javascript/confirmation.js"></script>
		<script src="../javascript/confirmation.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>   