<!doctype html>
<html>
	<head>
		<title>Shipments</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/table1.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            <div th:replace="fragments/general.html :: sidebar"></div>
			<div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
				<div th:switch="${shipments}">
                    <h2 th:case="null">No shipments yet!</h2>
                    <div th:case="*">
                        <p><button class="buttons7" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button>
                        <br>
                        <br>
                        <hr>
                        <h2>Shipment Details</h2>
                        <br><br><hr>
                        <div th:each="shipment : ${shipments}">
                            <h4>Shipment ID: </h4>
                            <span th:text="${shipment.id}"></span>
                            <br><br>
                            <h4>Client: </h4>
                            <span th:text="${shipment.client}"></span>
                            <br><br>
                            <h4>Carrier: </h4>
                            <span th:text="${shipment?.carrier?.carrierName}"></span>
                            <br><br>
                            <h4>SCAC: </h4>
                            <span th:text="${shipment.scac}"></span>
                            <br><br>
                            <h4>Vehicle: </h4>
                            <span th:text="${shipment.vehicle}"></span>
                            <br><br>
                            <h4>Client Mode: </h4>
                            <span th:text="${shipment.clientMode}"></span>
                            <br><br>
                            <h4>Ship Date: </h4>
                            <span th:text="${shipment.shipDate}"></span>
                            <br><br>
                            <h4>Freightbill Number: </h4>
                            <span th:text="${shipment.freightbillNumber}"></span>
                            <br><br>
                            <h4>Paid Amount: </h4>
                            <span th:text="${shipment.paidAmount}"></span>
                            <br><br>
                            <h4>Full Freight Terms: </h4>
                            <span th:text="${shipment.fullFreightTerms}"></span>
                            <br><br>
                            <h4>Commodity Class: </h4>
                            <span th:text="${shipment.commodityClass}"></span>
                            <br><br>
                            <h4>Commodity Pieces: </h4>
                            <span th:text="${shipment.commodityPieces}"></span>
                            <br><br>
                            <h4>Commodity Paid Weight: </h4>
                            <span th:text="${shipment.commodityPaidWeight}"></span>
                            <br><br><br>
                            <hr>
                            <h4>Shipper City: </h4>
                            <span th:text="${shipment.shipperCity}"></span>
                            <br><br>
                            <h4>Shipper State: </h4>
                            <span th:text="${shipment.shipperState}"></span>
                            <br><br>
                            <h4>Shipper Zip: </h4>
                            <span th:text="${shipment.shipperZip}"></span>
                            <br><br>
                            <h4>Shipper Latitude: </h4>
                            <span th:text="${shipment.shipperLatitude}"></span>
                            <br><br>
                            <h4>Shipper Longitude: </h4>
                            <span th:text="${shipment.shipperLongitude}"></span>
                            <br><br>
                            <h4>Google Maps Link:</h4>
                            <a th:href="|https://maps.google.com/?q=${shipment.shipperLatitude},${shipment.shipperLongitude}|" target="_blank">Google Maps Link</a>
                            <br><br><br>
                            <hr>
                            <h4>Consignee City: </h4>
                            <span th:text="${shipment.consigneeCity}"></span>
                            <br><br>
                            <h4>Consignee State: </h4>
                            <span th:text="${shipment.consigneeState}"></span>
                            <br><br>
                            <h4>Consignee Zip: </h4>
                            <span th:text="${shipment.consigneeZip}"></span>
                            <br><br>
                            <h4>Cosnginee Latitude: </h4>
                            <span th:text="${shipment.consigneeLatitude}"></span>
                            <br><br>
                            <h4>Consignee Longitude: </h4>
                            <span th:text="${shipment.consigneeLongitude}"></span>
                            <br><br>
                            <h4>Google Maps Link:</h4>
                            <a th:href="|https://maps.google.com/?q=${shipment.consigneeLatitude},${shipment.consigneeLongitude}|" target="_blank">Google Maps Link</a>
                            <br><br><br>
                            <hr>
                            <h4>Google Maps Directions Link: </h4>
                            <a th:href="|https://www.google.com/maps/dir/?api=1&origin=${shipment.shipperLatitude},${shipment.shipperLongitude}&destination=${shipment.consigneeLatitude},${shipment.consigneeLongitude}|" target="_blank">Google Maps Directions</a>
                            <br><br><br>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="footer">
        </div>
		<script src="../javascript/pageload.js">
		</script>
	</body>
</html>   