!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

	<body>
		<div th:fragment="sidebar">
        <div sec:authorize="isAuthenticated()" class = "navSideBar" id="mySidebar">
              <button onclick="nav_close()" class="bar-item">...</button>
              <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="selected" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_users" href="/userhome">Users</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAuthority('MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_masterlist" href="/shipmentshomemaster">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('SHIPPER')" class="navitem">
              				<button onclick="showDropdown()" class="dropbtn">Shipments</button>
  							<div id="shipmentsDropdown" class="dropdown-content">
    							<a href="/allshipments">All Shipments</a>
    							<a href="/pendingshipments">Pending Shipments</a>
    							<a href="/createdshipments">Available Shipments</a>
    							<a href="/frozenshipments">Available Shipments</a>
    							<a href="/awaitingshipments">Awaiting Acceptance Shipments</a>
    							<a href="/acceptedshipments">Accepted Shipments</a>
  							</div>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_carrier" href="/shipmentshomecarrier">Shipments</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_routes" href="/routes">Routes</a>
                        </li>
                         <li sec:authorize="hasAnyAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_database" href="/database">Database</a>
                        </li>
                         <li sec:authorize="hasAnyAuthority('SHADOWADMIN')" class="navitem">
                            <a class="navlink" id="nav_log_home" href="/loghome">Logs</a>
                        </li>
						<br><br><br><br><br>
						<li sec:authorize="hasAnyAuthority('CARRIER', 'MASTERLIST', 'ADMIN','SHIPPER')">
							<a class= "navlink" id= "nav_notifications" href="/unreadnotifications" th:inline="text">Notifications ([[${notifications.size()}]])</a>
						</li>
						<li sec:authorize="hasAnyAuthority('CARRIER', 'MASTERLIST', 'ADMIN','SHIPPER')">
							<a class= "navlink" id= "nav_update_user_details" href="/update-user-details">Update User</a>
						</li>
                        <li sec:authorize="isAuthenticated()" class="navitem">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="navlink" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" class = "navSideBar" id="mySidebar">
            	<button onclick="nav_close()" class="bar-item">...</button>
                <ul class="navbar">
                	<li class="navitem">
                   		<a class="selected" id="nav_home" href="/">Home</a>
                    </li>
                    <br>
                    <li sec:authorize="!isAuthenticated()" class="navitem">
                        <a class="navlink" id="nav_login" href="login">Login</a>
                    </li>
                    <br>
                    <li sec:authorize="!isAuthenticated()" class="navitem">
                        <a class="navlink" id="nav_registration" href="/registrationhome">Register</a>
                    </li>
                </ul>
            </div>
        </div>
     </body>