!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

	<body>
		<div th:fragment="sidebar">
        <div sec:authorize="isAuthenticated()" class = "navSideBar" id="mySidebar">
              <button onclick="nav_close()" class="bar-item">...</button>
              <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a th:class="${currentPage == '/' ? 'selected' : 'navlink'}" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a th:class="${currentPage == '/carriers' ? 'selected' : 'navlink'}" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a th:class="${currentPage == '/contacts' ? 'selected' : 'navlink'}" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ADMIN')" class="navitem">
                            <a th:class="${currentPage == '/database' ? 'selected' : 'navlink'}" id="nav_database" href="/database">Database</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a th:class="${currentPage == '/drivers' ? 'selected' : 'navlink'}" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a th:class="${currentPage == '/locations' ? 'selected' : 'navlink'}" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('SHADOWADMIN')" class="navitem">
                            <a th:class="${currentPage == '/loghome' ? 'selected' : 'navlink'}" id="nav_log_home" href="/loghome">Logs</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a th:class="${currentPage == '/maintenanceorders' ? 'selected' : 'navlink'}" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a th:class="${currentPage == '/routes' ? 'selected' : 'navlink'}" id="nav_routes" href="/routes">Routes</a>
                        </li>
                        <li sec:authorize="hasAuthority('MASTERLIST')" class="navitem">
              				<button onclick="showDropdown()" th:class="${currentPage == '/shipments' ? 'dropbtn_selected' : 'dropbtn'}">Shipments</button>
  							<div id="shipmentsDropdown" class="dropdown-content">
    							<a href="/allshipments">All Shipments</a>
    							<a href="/pendingshipments">Pending Shipments</a>
    							<a href="/createdshipments">Available Shipments</a>
    							<a href="/frozenshipments">Frozen Shipments</a>
    							<a href="/awaitingshipments">Awaiting Acceptance Shipments</a>
    							<a href="/acceptedshipments">Accepted Shipments</a>
  							</div>
                        </li>
                        <li sec:authorize="hasAuthority('SHIPPER')" class="navitem">
              				<button onclick="showDropdown()" th:class="${currentPage == '/shipments' ? 'dropbtn_selected' : 'dropbtn'}">Shipments</button>
  							<div id="shipmentsDropdown" class="dropdown-content">
    							<a href="/allshipments">All Shipments</a>
    							<a href="/pendingshipments">Pending Shipments</a>
    							<a href="/createdshipments">Available Shipments</a>
    							<a href="/frozenshipments">Frozen Shipments</a>
    							<a href="/awaitingshipments">Awaiting Acceptance Shipments</a>
    							<a href="/acceptedshipments">Accepted Shipments</a>
  							</div>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
              				<button onclick="showDropdown()" th:class="${currentPage == '/shipments' ? 'dropbtn_selected' : 'dropbtn'}">Shipments</button>
  							<div id="shipmentsDropdown" class="dropdown-content">
    							<a href="/allshipments">All Shipments</a>
    							<a href="/createdshipments">Available Shipments</a>
    							<a href="/awaitingshipments">Awaiting Acceptance Shipments</a>
    							<a href="/acceptedshipments">Accepted Shipments</a>
  							</div>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a th:class="${currentPage == '/technicians' ? 'selected' : 'navlink'}" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a th:class="${currentPage == '/vehicles' ? 'selected' : 'navlink'}" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a th:class="${currentPage == '/vehicletypes' ? 'selected' : 'navlink'}" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
              				<button onclick="showDropdown()" th:class="${currentPage == '/users' ? 'dropbtn_selected' : 'dropbtn'}">Users</button>
  							<div id="shipmentsDropdown" class="dropdown-content">
    							<a href="/users">All Users</a>
    							<a href="/CarrierAdministrationPage">Carriers</a>
    							<a href="/ShipperAdministrationPage">Shippers</a>
  							</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" class = "navSideBar" id="mySidebar">
            	<button onclick="nav_close()" class="bar-item">...</button>
                <ul class="navbar">
                	<li class="navitem">
                   		<a th:class="${currentPage == '/' ? 'selected' : 'navlink'}" id="nav_home" href="/">Home</a>
                    </li>
                    <br>
                    <li sec:authorize="!isAuthenticated()" class="navitem">
                        <a th:class="${currentPage == '/login' ? 'selected' : 'navlink'}"id="nav_login" href="login">Login</a>
                    </li>
                    <br>
                    <li sec:authorize="!isAuthenticated()" class="navitem">
                        <a th:class="${currentPage == '/registrationhome' ? 'selected' : 'navlink'}" id="nav_registration" href="/registrationhome">Register</a>
                    </li>
                </ul>
            </div>
        </div>
        <div th:fragment="profile-bar">
        	<div sec:authorize="isAuthenticated()" id="profile-bar" class="profile-bar">
			<a id= "nav_notifications" href="/unreadnotifications" th:inline="text"><i style="padding:5px" class="fa-solid fa-bell fa-xl"></i>([[${notifications.size()}]])</a>
			<a id="nav_update_user_details" href="/update-user-details"><i style="padding:5px" class="fa-solid fa-user fa-xl"></i></a>
			<a onclick="document.forms['logoutForm'].submit()"><i style="padding:5px" class="fa-solid fa-right-from-bracket fa-xl"></i></a>
						<form id="logoutForm" method="POST" th:action="@{/logout}">
           	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
		</div>
        </div>
     </body>