<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Shipments</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
			<div th:replace="fragments/general.html :: sidebar"></div>
			
		<div id="content">
			<span class="nav-expand">
  				<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
			</span>
			<br><br>
            <div class="alert alert-info" th:if="${successMessage}">
    		<span th:text="${successMessage}" style="color: green;"></span>
			</div>
			<span type="hidden" th:text="${message}" class=errorMessage></span>
            <br>
        	<h2>Upload file</h2>
	        <br><br>
	            	*** Warning: Upload time varies with file size; larger files take more time.
	       	<br><br>
	            	*** The Excel must match this template. To download the template <a href="/documents/Drivers - SAMPLE.xlsx" download>Click Here!</a>
	        <br><br>
	        <p><button class="buttons7" th:attr="onclick=|window.location.href='${redirectLocation}'|">Back</button>
			<br><br>
			<hr>
			<form th:action="@{/excel-upload-drivers}" enctype="multipart/form-data" method="POST">
			<div class="form-group2">
				<br>
				<h2> Choose Excel File to Upload</h2>
				<br>
				<input required type="file" name="file" />
				<br><br><br><br>
				<button type="submit" class="buttons6">Upload File</button>
			<br>
			</div>
			</form>
	      	<br><br><br><br>
		</div>
    </div>

		<div class="footer">
            
        </div>
		<script src="../javascript/pageload.js">
		</script>
	</body>
</html>  