<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Update User</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
        	<div th:replace="fragments/general.html :: sidebar"></div>
        	<div th:replace="fragments/general.html :: profile-bar"></div>
			<script src="https://kit.fontawesome.com/fe29baf689.js" crossorigin="anonymous"></script>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				
                <h2>&emsp;&emsp;Update Carrier User</h2>
                <br>
                <form action="/users">
                    &emsp;&emsp;&emsp;&ensp;<button type="submit">Back</button>
                </form>
                <form action="#" th:action="@{/updatecarrieruser/{id}(id=${user.id})}" th:object="${user}" method="post">
                <div class="form-group">
                	<br>
                	<h2> Enter Account Info</h2>
                	<br><br>
                	<input type="hidden" th:field="*{username}" id="username" placeholder="JohnWick" required>
                  	<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				    <br>
                    <input type="hidden" th:field="*{password}" id="password" placeholder="Enter your Password" required>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    <br>
                    <label for="email">Email: </label>
                    <input type="text" th:field="*{email}" id="email" placeholder="johnwick10@gmail.com" required>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    
                    <input type="hidden" th:field="*{updateEmail}" id="updateEmail" placeholder="updateEmail" required>
                    <br>
                    <label for="role">Role: </label>
                    <select th:field="*{role}" required>
                        <th:block th:each="role : ${roles}">
                            <option th:text="${role.name}" th:value="${role.id}"></option>
                        </th:block>
                    </select>  
				    <br>
                    <label for="carrier">Carrier: </label>
                    <select th:field="*{carrier}" required>
                        <th:block th:each="carrier : ${carriers}">
                            <option th:text="${carrier.carrierName}" th:value="${carrier.id}"></option>
                        </th:block>
                    </select>  
				    <br><br>
                    <label for="resetUsersPassword">Reset Password: </label>
                    <input type="checkbox" name="resetPassword" class = "checkbox">
                    <br><br>
                  
                    <button type="submit" class = "buttons4">Update Carrier User </button> 
                    <br><br>
                </div>
                </form>        
			</div>
		</div>

		<div class="footer">
        </div>
		<script src="../javascript/pageload.js">
		</script>
	</body>
</html>