<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Enterprise Routing System</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1 class="heading_content">Enterprise Routing System&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
           	<div th:replace="fragments/general.html :: sidebar"></div>

		<div id="content">
			<span class="nav-expand">
  				<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
			</span>
			<h2>Update User</h2>
			<br>
			<br>
			<form action="#" th:action="@{/updatedetails}" th:object="${user}"method="post">
			<hr>
			<div class="form-group">
				<br>
				<h2> Edit Your User Info</h2>
				<br>
				<input type="hidden" th:field="*{username}" id="username" placeholder="UserName" required> 
				<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				<br>
				<label for="password">Password: </label>
				<input type="password" th:field="*{password}" id="password" placeholder="Enter Your New Password"  required>
				<p th:if="${#fields.hasErrors('password')}" th:errorclass="password" th:errors="*{password}"></p> 
				<br>
				<label for="confirmPassword">Confirm Your Password: </label>
				<input type="password" th:field="*{confirmPassword}" id="confirmPassword" placeholder= "Confirm your Password" required/>
                <p th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="confirmPassword" th:errors="*{confirmPassword}"></p>  
                <br>
				<label for="email">Email: </label></td>
				<input type="text" th:field="*{email}" id="email" placeholder="Email" required> 
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
				<input type="hidden" th:field="*{updateEmail}" id="updateEmail" placeholder="updateEmail" required>
				<br><br>
				<button class="buttons4" type="submit">Update User Details</button>
				<br><br>
			</div> 
		</form>
		<form sec:authorize="hasAuthority('SHIPPER')" th:action="@{/upload-freightrate-table}" enctype="multipart/form-data" method="POST">
			<div class="form-group">
				<br>
				<h2>Upload Freight Rate Table</h2>
				<h3>Select an excel file containing a valid freight rate table.</h3>
				<br>
				<input required type="file" name="file" />
				<br><br><br><br>
				<button type="submit" class="buttons6">Upload Freight Rate Table</button>
			<br>
			</div>
		</form>
	<br>
</div>
</div>

	<div class="footer">
	</div>
		<script src="javascript/pageload.js">
		</script>
		<script src="../javascript/pageload.js">
		</script>
</body>
</html>